<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="FirstName" value="Kazimierz"/>
    <add key="LastName" value="Nowak"/>
    <add key="IsWoman" value="False"/>
    <add key="BirthDate" value="01.02.1950"/>
</appSettings>
</configuration>
